.navbar nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.navbar nav ul li {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.navbar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    margin-left: 1rem;
}

.navbar nav ul li a:hover {
    color: chocolate;
}

.navbar nav ul li img {
    height: 3.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}